*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 14 px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.625;
    color:  #6F6F6F;
    ;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
/*===================================================================*/
/*===================Téléphone    Portable ==========================*/
/*===================================================================*/
.header {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54,54,54,0.5)39.24%,
         rgba(28,28,28,0.4) ),
        url(img/eggs.jpg) center center / cover no-repeat;
        color: #fff;
      
}
.topbar {
    padding: 18 px 0;
    font-size: .875;
    text-transform: uppercase;
    text-align: center;
}
.menu-button{
    border: solid 1px #C89446;
    padding: 5px 15px;
    margin-top: 16px;

}
.topbar a:hover {
    color: #C89446;
}
.logo{
    margin-bottom: 10px;
}
.menu-item {
    display: inline-block;
    margin: 0 15px;
}
.baseline {
    padding:136px 0 236px ;
    text-align: center;
}
.baseline-welcome {
    font-size: 2.1rem;
    font-family: 'Pinyon Script' , serif;
    color: #C89446;
    display: block;
    line-height: 1;
    padding-top: 10px;
}
.baseline-name {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    padding-top: 3px;
}
.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-top: -2px;
}
.home-section {
    margin: 10px 0;
}
.container-block {
    margin: 10px 0;
}
.container-small {
    margin: 0 5px 0 auto;
    padding: 0 20px;
    max-width: 960px;
    margin: 10px;
}
.title::before{
    content: "";
    width: 24px;
    height: 2px;
    background-color: #C89446;
    display: inline-block;
    margin-bottom: 1rem;
}
.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F6F6F;
    font-weight:bold;
    margin: 10px;
}
.title span {
    font-family: 'Pinyon Script' , serif;
    font-size: 1.85rem;
    color: #C89446;
    display: block;
    text-transform: none;
}
.more{
    color: #C89446;
}
.more::after {
    content: '>>>';
}
.more:hover {
    color: #fff;
    background-color: #c89446;
    border-radius: 5px;
    padding: 5px 3px;
}
/* ! Todo vérifier les marges du menu sur format portable
   ! et de la partie CHEF*/
.container-small {
    border: solid 1px #C89446; padding: 10px 0;
}
.block-centered {
    text-align: center;
}
.ingredients-menu {
    font-weight: 600;
    color:  #383838 ;
    text-align: center;
    text-transform: uppercase;
}
.ingredients-menu a {
    display: inline-block;
    margin: 0 25px;
}
.ingredients-menu .active {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
    text-decoration-color: #C89446;
}
.ingredients-menu a:hover {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
    text-decoration-color: #C89446;
}

.menu-summary-item {
    position: relative;
   padding-left: 120px;
   margin-bottom: 30px;
}
.menu-summary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.menu-summary-title {
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.menu-summary p {
    margin-top: 0;
    font-size: 0.875rem;
}
.menu-summary-price {
    font-family: 'Pinyon Script' ,'serif';
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
}
/*============================================================*/
/*===================Réservation============================*/
/*============================================================*/

.reservation{
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54,54,54,0.5)39.24%,
         rgba(28,28,28,0.4) ),
        url(img/reservation1.jpg) center center / cover no-repeat;
        color: #fff;
       margin: 15px;
    }
    .title span{
        padding-bottom: 5px;
    }
    #para-form {
        font-size: 1.25em;
        color: #c7c2c2;
        padding: 5px;
        line-height: 0.95;
        padding-bottom: 3px;
    }
    #lbl-reservation {
        color: rgb(61, 50, 26);
    }
    .block-body {
        color: #979595;
    }
    .reservation input, label, select {
        width: 90%;
        padding: 15px 0;
        font-size: 1.25rem;
        margin-bottom: 30px;
        margin-top: 5px;
        border-radius: 10px;
    background-color: #e0ceb1;
    font-family: 'Source Sans Pro' serif;
    text-transform: uppercase;
    transition: background .3s, border-color .3s;
}
.reservation label {
    width: 100%;
    padding: 2px 2px;
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #e0ceb1;
}
.reservation-form {
    margin-bottom: 15px;
}
#persons {
    padding-left: 15px;
    color:#745d39;
}
#fullname, #date {
    padding-left: 15px;
}
.btn {
    border: solid 1px #e0ceb1;
    padding: 5px 15px;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
    margin-bottom: 15px;
}
#para-form {
    margin-bottom: 25px;
}
.reservation input:focus, .reservation select:focus {
    background-color: rgba(250, 250, 250, 0.658);
    color: #4d3c3c;
    border-color: #c89446;
} 
button:hover {
    color: #C89446;
    border: solid 1 px #C89446; ;
    background: transparent;
}
.btn {
    border: solid 2px transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin-top: 15px;
    background-color: #e9a12d;;
    color: #fff;
    margin-bottom: 25px;
    cursor: grab;
}
.partage-list a:hover {
    text-decoration: underline;
}
/*============================================================*/
/*=========================Partage============================*/
/*============================================================*/

.partage {
    padding: 30px ;
}
.partage-list {
    font-weight: 300;
    font-size: 1.125rem;
}
.partage-list-item {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.20);
    width: 80%;
    padding: 20px 0;
}
.partage-list strong {
    color: #383838;
    font-weight: 700;
}
.partage-date{
    width: 50px;
    flex: none;
}
.partage-date strong {
    font-size: 1.5rem;
    display: block;
}
.more{
    color: #C89446;
    position:absolute;
    right :100px;
    margin-top: 15px;
}
.more::after {
    content: '>>>';
}
.more:hover {
    color: #fff;
    background-color: #c89446;
    border-radius: 5px;
    padding: 5px 3px;
}
#partage-title {
    font-size: 0.90rem;
    text-align: center;
    margin-top: 20px;
}
#partage-title span {
    padding-bottom: 30px;
}
.partage-list-item:last-child {
    border-bottom: 0;
}
/* .carte {
    display: none;
} */
/*============================================================*/
/*==========================Footer============================*/
/*============================================================*/

.footer
{
    background:  bottom right #383838 no-repeat;
    font-weight: 300;
    color:#ffff;
    padding: 40px 0;
}
.footer-title {
    color: #C89446;
    font-weight: bold;
    margin-bottom: 1.25em;
    text-transform: uppercase;
}
.footer-column {
    margin-bottom: 2rem;
}
/*============================================================*/
/*===================PAGES RECETTES recipe1.html==========================*/
/*============================================================*/
.block-ingredients ul {
    margin-left: 25px;
    list-style: none;
}
.block-ingredients  span {
    font-weight: bold;
    width: 35px;
    font-weight: 300;

}
.block-ingredients {
    border: 1px solid #C89446;
    width: auto;
    padding: 35px;
    color: #383838;
    font-weight: 600;
}
/* ! a revoir : positionnement du texte et de la bordure dorée*/
.block-video {
    position: relative;
    /* cursor: pointer; */
    background: #383838;
}
.block-video img {
    box-shadow: 0 0 30px  rgba(128, 128, 128, 0.555) ;
    opacity: 0.6;

}
.block-video::after {
    content: '';
    background:  url(img/play.png) center center no-repeat;
    position: absolute;
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    transition: transform .3s;
}
.block-video:hover::after {
    transform: scale(1.3);

}
/*===================================================================*/
/*===================Media Ecran < à 600px ==========================*/
/*===================================================================*/
@media only screen and (min-width: 600px) {
    html{
        font-size: 16px;
    }
    .container-small{
        border: none;
        /* margin-top: -10px; */
        margin: 0 auto;
    }
    .block-body {
        margin-bottom: 60px;
    }
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items:  center;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline {
        padding: 136 0 227px 
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
    .baseline-name {
        font-size: 4.735rem;
        letter-spacing: 11px;
    }
    .baseline-welcome {
        font-size: 3.49rem;
        letter-spacing:4px;
    }
} 
/*===================================================================*/
/*===================Media Ecran < à 800px ==========================*/
/*===================================================================*/

@media only screen and (min-width: 800px) {
    .container {
        padding: 0 20px;
        width: 1150px;
        margin: 0 auto;
    }
    .home-section {
        /* background-color: #000; */
        display: block;
       background-image:
         top 95px right 0 url('/img/oranges.jpg') no-repeat,
         top 640px left 0 url('/img/spices.jpg') no-repeat;
    }
    .block-left, .block-right{
        display: flex;
        align-items: center;
    }
    .block-img {
        margin: auto 0;
        /* border: solid 1px #C89446; */
        position: relative;
        width: 90%;
    }
    .block-left .block-body {
      margin-left: 94px ;
      margin-top: 5px;
    }
    .block-right .block-body {
      margin-right: 94px ;
      margin-top: 5px;
      order: -1;
    }
    .block-right.block-img {
        width: 350px;
        flex: none;
        margin-right: 30px;
    }
    .block-img::before {
        content: "";
        display: block;
        border: solid 1px #C89446;
        position:absolute;
        top: -15px;
        left: -15px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-right .block-img::before{
        position:absolute;
        left: auto;
        right: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-img img {
        position: relative;
        z-index: 1;
    }
    .title::before {
        margin-bottom: 1rem;
    }

    .menu-summary {
        position: relative;
        padding: 85 px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu-summary-item{
        /* padding-right: 50px; */
        padding-left: 192px;
        width: calc( 50% - 35px);
        margin-bottom: 110px;
    }
    .menu-summary-item:nth-child(even){
        padding-left: 0;
        padding-right: 192px;
        text-align: right;
    }
    .menu-summary-item:nth-child(even) .menu-summary-img{
        text-align: right;
        right: 0;
        left: auto ;
    }
    .menu-summary-img {
        width: 160px;
    }
    .menu-summary-title {
        margin-top: 0;
        line-height: 1.2;
    }
    .menu-summary-price {
        margin-top: 1.4rem;
    }
    .menu.menu-summary.p {
        padding-bottom: 70px;
    }
    .menu-summary p , h3{
        background:  #fff
    }
    .menu-summary::before{
        content: "";
        position: absolute;
        display: block;
        top: 10px;
        left: 50%;
        width: 460px;
        height: 460px;
        border: solid 1px #C89446;
        transform: translate( -50% ,0) rotate(45deg);
    }
    /*===================block chef============================*/
    .container-block {
        display: flex;
        align-items: center;
        width: 1200px;
        height: auto;
        border: 1px solid #c89446;
        padding: 25px;
        margin: 50px auto ;
    }
    .block-body-img {
        float: left;
        position: relative;
        /* top: -75px; */
        width: 300px;
        height: autopx;
        border: 1px solid #C89446;
        border-radius: 15x;
        box-shadow: 10px -15px 50px #C89446;
    }
    .block-body-chef  {
        width: auto;
        height: auto;
        /* border: 1px solid black; */
        position: relative;
        /* background-color: #beb9b996; */
        top: 15px;
    }
    .block-body-chef p {
        float: right;
        width: 450px;
        height: auto;
        text-align: left;
    }
    .block-body-chef  {
        text-align: center;
        color: #C89446;
    }
    .container-block .title {
        width: px;
        height: px;
        border: 1px solid transparent;
        text-align: center;
    }
    .menu-summary-title-block  {
        text-align: center;
        display: none;
    }
   /*===================++++++Reservation+++++============================*/
    .container-reservation {
        background: url(img/reservation1.jpg);
        height: auto;
    }
    .reservation {
        padding: 100px 0;
        
    }
    .reservation input, label, select {
        width: 50%;
    }
    .btn {
        border: solid 1px #e0ceb1;
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 5px 15px;
        margin-top: 15px;
        background-color: #e9a12d;;
        color: #fff;
        margin-bottom: 25px;
        transition: .3s;
    }
    .reservation-form {
        margin: 64px 0;
    }
    .partage-date{
        width: 95px;
        flex: none;
    }
    .container .more {
        background: #c8944656;
        width: 300px;
        text-align: center;
        font-size: 1.25rem;
        font-size: 2.25rem;
        border-radius: 15px;
        border: 2px solid transparent;
    }
}
/*===================+++++Partage+++++============================*/
.partage-list-item:last-child {
    padding-bottom: 0;
}
.carte iframe {
    width:100% ;
    height:450px;
    position: relative;
    top: 150px;
    bottom: 50px;
}

/*===================+++++Footer+++++============================*/
.footer {
    position: relative;
    top: 150px;
    background-image: url(img/splash.png);
}
.footer-columns {
    display: flex;
    justify-content: space-between;
}
.footer-column{
    width: 290px;
    margin-right: 50px;
}
.footer-column:first-child{
    width: 450px;
}
.footer-column:last-child {
    margin-right: 0;
    flex:none;
}
.footer ul {
    padding-left: 0;
    list-style: none;
}
.footer ul li::before {
    content: '- ';
}
.footer a {
    text-decoration:  underline;
}
.footer a:hover {
    color: #C89446;
}
.footer-credits span {
    font-weight: bold;
    text-transform: uppercase;
}
/*============================================================*/
/*===================Page ingredient.html==========================*/
/*============================================================*/
.block-ingredients {
    border: 1px solid #C89446;
    /* width:400px; */
    padding: 35px;
    display: inline-block;
    text-align: right;
}
.block-ingredients ul {

    /* ! Todo  revoir le positionnemnt du contenu du block */
}
.blok-right .block-video {
    margin-left: 28 px;
}
.block-video {
    text-align: center;
}