*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 14 px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.625;
    color:  #6F6F6F;
    ;
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
/* img {
    max-width: 100%;
    height: auto;
} */
.header {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54,54,54,0.5)39.24%,
         rgba(28,28,28,0.4) ),
        url(img/eggs.jpg) center center / cover no-repeat;
        color: #fff;
      
}
.topbar {
    padding: 18 px 0;
    font-size: .875;
    text-transform: uppercase;
    text-align: center;
}
.menu-button{
    border: solid 1px #C89446;
    padding: 5px 15px;
    margin-top: 16px;

}
.topbar a:hover {
    color: #C89446;
}
.logo{
    margin-bottom: 10px;
}
.menu-item {
    display: inline-block;
    margin: 0 15px;
}
.baseline {
    padding:136px 0 236px ;
    text-align: center;
}
.baseline-welcome {
    font-size: 2.1rem;
    font-family: 'Pinyon Script' , serif;
    color: #C89446;
    display: block;
    line-height: 1;
    padding-top: 10px;
}
.baseline-name {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    padding-top: 3px;
}
.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-top: -2px;
}

.container-small {
    margin: 0 5px 0 auto;
    padding: 0 20px;
    max-width: 960px;
    margin: 10px;
}

.title::before{
    content: "";
    width: 24px;
    height: 2px;
    background-color: #C89446;
    display: inline-block;
    margin-bottom: 1rem;
}
.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F6F6F;
    font-weight:bold;
    margin: 10px;
}
.title span {
    font-family: 'Pinyon Script' , serif;
    font-size: 1.85rem;
    color: #C89446;
    display: block;
    text-transform: none;
}
.more{
    color: #C89446;
}
.more::after {
    content: '>>>';
}
.more:hover {
    color: #fff;
    background-color: #c89446;
    border-radius: 5px;
    padding: 5px 3px;
}
.container-small {
    border: solid 1px #C89446;
}
.block-centered {
    text-align: center;
}
.ingredients-menu {
    font-weight: 600;
    color:  #383838 ;
    text-align: center;
    text-transform: uppercase;
}
.ingredients-menu a {
    display: inline-block;
    margin: 0 25px;
}
.ingredients-menu .active {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
    text-decoration-color: #C89446;
}
.ingredients-menu a:hover {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
    text-decoration-color: #C89446;
}
.menu-summary-item {
    position: relative;
   padding-left: 120px;
   margin-bottom: 30px;
}
.menu-summary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.menu-summary-title {
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.menu-summary p {
    margin-top: 0;
    font-size: 0.875rem;
}
.menu-summary-price {
    font-family: 'Pinyon Script' ,'serif';
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
}

@media only screen and (min-width: 600px) {
    html{
        font-size: 16px;
    }
    .container-small{
        border: none;
        /* margin-top: -10px; */
        margin: 0 auto;
    }
    .block-body {
        margin-bottom: 60px;
    }

    .topbar{
        display: flex;
        justify-content: space-between;
        align-items:  center;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline {
        padding: 136 0 227px 
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
    .baseline-name {
        font-size: 4.735rem;
        letter-spacing: 11px;
    }
    .baseline-welcome {
        font-size: 3.49rem;
        letter-spacing:4px;
    }
} 
 
@media only screen and (min-width: 800px) {
    .container {
        padding: 0 20px;
        width: 1150px;
        margin: 0 auto;
    }
    .home-section {
        background-color: #000;
        display: block;
       background-image:
         top 95px right 0 url('/img/oranges.jpg') no-repeat,
         top 640px left 0 url('/img/spices.jpg') no-repeat;
    }
    .block-left, .block-right{
        display: flex;
        align-items: center;
    }
    .block-img {
        margin: auto 0;
        /* border: solid 1px #C89446; */
        position: relative;
    }
    .block-left .block-body {
      margin-left: 94px ;
      margin-top: 5px;
    }
    .block-right .block-body {
      margin-right: 94px ;
      margin-top: 5px;
      order: -1;
    }
    .block-right.block-img {
        width: 350px;
        flex: none;
        margin-right: 30px;
    }

    .block-img::before {
        content: "";
        display: block;
        border: solid 1px #C89446;
        position:absolute;
        top: -15px;
        left: -15px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-right .block-img::before{
        position:absolute;
        left: auto;
        right: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;

    }
    .block-img img {
        position: relative;
        z-index: 1;
    }
    .title::before {
        margin-bottom: 1rem;
    }
    .more {
        display: inline-block;
        margin-top: 1.3rem;
    }
    .ingredients-menu a {
        display: inline-block;
        margin: 0 30px 50px;
    }
    .menu-summary {
        position: relative;
    padding: 85 px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .menu-summary-item{
        /* padding-right: 50px; */
        padding-left: 192px;
        width: calc( 50% - 35px);
        margin-bottom: 110px;
    }
    .menu-summary-item:nth-child(even){
        padding-left: 0;
        padding-right: 192px;
        text-align: right;
    }
    .menu-summary-item:nth-child(even) .menu-summary-img{
        text-align: right;
        right: 0;
        left: auto ;
    }
    .menu-summary-img {
        width: 160px;
    }
    .menu-summary-title {
        /* background: #000; */
        margin-top: 0;
        line-height: 1.2;
    }
    .menu-summary-price {
        margin-top: 1.4rem;
    }
    .menu-summary p , h3{
        background:  #000
    }
    .menu-summary::before{
        content: "";
        position: absolute;
        display: block;
        top: px;
        left: 50%;
        width: 460px;
        height: 460px;
        border: solid 1px #C89446;
        transform: translate( -50% ,0) rotate(45deg);
    }
}